<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Etkinlik IO API TEST</title>
    <link href="~/Content/css/footer.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="container" style="margin-top:15px">
        <div class="col-md-12 col-lg-12">
            <div class="row">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="~/ApiTest/Index">Etkinlik IO API Test</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="~/ApiTest/Index">Anasayfa <span class="sr-only">(current)</span></a></li>
                                <li><a href="~/ApiTest/Etkinlik">Tüm Etkinlikler <span class="sr-only">(current)</span></a></li>
                                <li><a href="~/ApiTest/Kategori">Kategoriler</a></li>
                                <li><a href="~/ApiTest/Tur">Türler</a></li>
                                <li><a href="~/ApiTest/Sehir">Şehirler</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active"><a href="http://docs.etkinlik.apiary.io/">APIARY</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>

            </div>
            <div class="row">
                @RenderBody()
            </div>

            </div>
        <footer class="footer-distributed container-fluid">
            <div class="footer-left">
                <h3>EtkinlikIO<span>API</span></h3>
                <p class="footer-links">
                    <a href="~/ApiTest/Index">Anasayfa</a>
                    ·
                    <a href="~/ApiTest/Etkinlik">Tüm Etkinlikler</a>
                    ·
                    <a href="~/ApiTest/Kategori">Kategoriler</a>
                    ·
                    <a href="~/ApiTest/Tur">Türler</a>
                    ·
                    <a href="~/ApiTest/Sehir">Şehirler</a>
                </p>
                <p class="footer-company-name">Etkinlikio &copy; 2016</p>
            </div>
            <div class="footer-right">
            </div>
        </footer>

</body>
</html>
